[receive]
	requireChangeId = true
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group TYPO3v4/Extensions/phpunit-Leaders
	label-Verified = -1..+2 group TYPO3v4/Extensions/phpunit-Leaders
	submit = group TYPO3v4/Extensions/phpunit-Leaders
[access "refs/tags/*"]
	pushTag = group TYPO3v4/Extensions/phpunit-Leaders
[project]
	state = active
