#tx_phpunit_jasmine_body {
	padding: 15px 10px;
}

img.tx_phpunit_jasmine_logo {
	float: right;
	margin: 0 30px 10px;
}

div.docheader-row2-right img {
	float: left;
	margin-right: 5px;
}

div.tx_phpunit_jasmine_form_row {
	clear: both;
}

div.tx_phpunit_jasmine_form_row label {
	float: left;
	width: 150px;
}

div.tx_phpunit_jasmine_form_row input[type=submit] {
	margin: 10px 0 5px 150px;
}

div.typo3-fullDoc {
	height: 130px;
}

#jasmine-test-results {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 4px;
	top: 100px;
}